<style>
  a{
      font-family: 'Concert One', cursive
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(128, 0, 128, 0.643); background-color: rgba(128, 0, 128, 0.643); border-radius: 10px;">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" style="color: white; font-family: 'Concert One', cursive;" href="/powertrace/">Powertrace app</a>
    <div class="navbar-nav ms-auto">
      <% if (loggedIn) { %>
        Logged in as <a href="<%=`/users/${currentUser._id}`%>" class="nav-link text-white border-right pr-2" style="border-color: white;">
          <%= currentUser.fullName %></a>
          <a href="/users/logout" class="nav-link text-white border-right pr-2" style="border-color: white;">Log out</a>
      <%} else {%>
        <a href="/users/login" class="nav-link text-white border-right pr-2" style="border-color: white;">Log In</a>
      <% } %>  
      <a href="/users" class="nav-link text-white border-right pr-2" style="border-color: white;">Users</a>
      <a href="/prices" class="nav-link text-white border-right pr-2" style="border-color: white;">Pricetracker</a>
      <a href="/users/new" class="nav-link text-white border-right pr-2" style="border-color: white;">New</a>
      <a href="/powertrace/about" class="nav-link text-white" style="border-color: white;">About us</a>
    </div>
  </div>
</nav>
