<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/users/">Powertrace app</a>
      <% if (loggedIn) { %>
        Logged in as <a href="<%=`/users/${currentUser._id}`%>">
          <%= currentUser.fullName %></a>
          <a href="/users/logout">Log out</a>
       <%} else {%>
        <a href="/users/login">Log In</a>
       <% } %>  
    </div>
  </nav>