<div id="contact">
<form action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="zipCode" placeholder="Zip Code"pattern="[0-9]{5}">
    <input type="text" name="phonenumber" placeholder="phonenumber">
   <p>VIP? <input type="checkbox" name="vip" value="check" id="vip"/> </p>
  <br><br> <input type="submit" name="submit">
   </form>
</div>