<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">

<head>
  <title>About Us</title>
  <style>
    h1 {
      font-family: 'Concert One', cursive;
    }

    p {
      max-width: 500px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .about-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .text-container {
      flex: 1;
      padding-right: 20px;
    }

    .image-container {
      flex: 1;
      padding-left: 20px;
      text-align: center;
    }
  </style>
</head>

<body>

  <h1>About Us</h1>
  <br>
  <div class="about-container">
    <div class="text-container">
      <p>Welcome to Powertrace, your go-to source for smart energy solutions!<br>
      
        <br>
        At Powertrace, we understand that electricity costs can be a significant concern for individuals and businesses
        alike. That's why we're committed to helping our customers take control of their energy usage and save money on
        their electricity bills.<br>

        <br>
        Our team of experts has extensive knowledge and experience in the energy industry, and we're dedicated to
        providing our customers with the most up-to-date and accurate information on electricity pricing and consumption
        patterns.
        With our cutting-edge technology and data analytics tools, we help our clients optimize their energy consumption
        and schedule usage during periods of lower prices, ultimately reducing their overall energy costs.
        <br>     <br>
        At Powertrace, we're committed to providing our customers with the highest level of service and support. Our
        team is always available to answer any questions you may have and to assist you in making informed decisions
        about your energy usage. We pride ourselves on our exceptional customer service and our ability to deliver
        results that exceed our clients' expectations.

        Thank you for choosing Powertrace as your energy partner. We look forward to helping you take control of your
        energy usage and reduce your electricity costs.</p>
    </div>
    <div class="image-container">
      <img src="https://watts.dk/wp-content/uploads/2021/06/pp-licew.png" alt="Dinosaur">
    </div>
  </div>

</body>

</html>