<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert+One">

<style>
h2 {
  font-family: 'Concert One', cursive;
}
</style>

<div class="data-form">
    <form action="/users/login" method="POST">
      <h2>Login:</h2>
      <label for="inputEmail">Email address</label>
      <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
      <label for="inputPassword">Password</label>
      <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
      <button class="btn btn-lg btn-white btn-block" type="submit">Login</button>
    </form>
  </div>